<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="main.css">
    <title>Users</title>
  </head>
  <body>
    <main class="usersMain">
      {{#users}}
        <a href={{id}}>
          <div class="robot">
            <img src={{avatar}} />
            <h2>
              {{name}}
            </h2>
            {{#job}}
              <p>
                {{job}}<br />
                {{company}}
              </p>
            {{/job}}
            {{^job}}
              <p class="unemp">
                Available for hire
              </p>
            {{/job}}
          </div>
        </a>
      {{/users}}
    </main>
  </body>
</html>
