<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="main.css">
    <title></title>
  </head>
  <body>
      <!-- content should appear here. -->
      <main class=userMain>

        <img src="{{avatar}}">


        <section class="contact">
          <h1>{{name}}</h1>
          <p>
            {{#address.city}}
              {{address.city}},
            {{/address.city}}
            {{#address.country}}
              {{address.country}} |
            {{/address.country}}
            {{#job}}
              {{job}}, {{company}}
            {{/job}}
            {{^job}}
              <span class="unemp">
                Available for hire
              </span>
            {{/job}}
            <br />
            {{#email}}
              {{email}} |
            {{/email}}
            {{#phone}}
              {{phone}}
            {{/phone}}
          </p>
        </section>


        {{#university}}
          <h3>
            Education
          </h3>

          <span>
            {{university}}
          </span>
        {{/university}}



          <h3>
            Skills
          </h3>
        {{#skills}}
          <div class="skill-list">
              {{#.}}
                  {{.}}<br />
              {{/.}}
          </div>
        {{/skills}}

    </main>

  </body>
</html>
